.place {
    margin-top: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
}

.place h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.amenities h2,
.reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 10px;
}

.amenities ul,
.reviews ul {
    list-style: none;
    padding: 0;
}

.amenities li,
.reviews li {
    margin-bottom: 5px;
    font-size: 14px;
}

.reviews h3 {
    font-size: 14px;
}

.reviews p {
    font-size: 12px;
}

